---
import PostHog from './PostHog.astro';
import { AstroFont } from 'astro-font';
import { SITE_DESCRIPTION, SITE_TITLE } from 'src/consts';
import { getCldOgImageUrl } from 'astro-cloudinary/helpers';

// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

function isValidURL(url: string) {
  const urlPattern = /^(https?|ftp):\/\/[^\s/$.?#].[^\s]*$/i;
  return urlPattern.test(url);
}

const {
  title,
  description = SITE_DESCRIPTION,
  image = 'https://res.cloudinary.com/joelmturner/image/upload/h_630,w_1200/c_fit,h_400,l_text:Helvetica_80_bold_line_spacing_20:Digital%20Adventurer%20and%20Amateur%20Illustrator,w_700/fl_layer_apply,g_west,x_400,y_0/blog-post-card.png',
} = Astro.props;

const ogImage = isValidURL(image)
  ? image
  : getCldOgImageUrl({
      src: image,
      width: 1200,
      height: 630,
      crop: 'fill',
      format: 'jpg',
      quality: 'auto',
      gravity: 'center',
    });

const resolvedTitle = title ? `${title} | ${SITE_TITLE}` : `${SITE_TITLE} Web Development Blog`;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/png" href="/favicon-32x32.png" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />
<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Primary Meta Tags -->
<title>{resolvedTitle}</title>
<meta name="title" content={resolvedTitle} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={resolvedTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={`${ogImage}?v=1`} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={resolvedTitle} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={`${ogImage}?v=1`} />

<link rel="webmention" href="https://webmention.io/joelmturner.com/webmention" />

<AstroFont
  config={[
    {
      src: [],
      preload: false,
      display: 'swap',
      name: 'Fira Code',
      fallback: 'sans-serif',
      cssVariable: 'font-fira-code',
      googleFontsURL: 'https://fonts.googleapis.com/css2?family=Fira+Code',
    },
    {
      src: [],
      preload: false,
      display: 'swap',
      name: 'Fira Sans',
      fallback: 'sans-serif',
      cssVariable: 'font-fira-sans',
      googleFontsURL: 'https://fonts.googleapis.com/css2?family=Fira+Sans',
    },
  ]}
/>

<!-- analytics -->
<PostHog />
