---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import { NAV_LINKS } from '@lib/constants';
import { cn } from '@lib/utils';
import HeaderLink from './HeaderLink.astro';
import ThemeSwitch from './ThemeSwitch.astro';

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<header
  class={cn(
    // spacing
    "m-0 p-0",
    // background
    "bg-base-100",
    // text
    "text-base-content",
    // shadow
    "shadow-md",
    // border top
    "border-t-[6px] border-t-brand-100",
    // border bottom
    "border-b-2 border-b-base-300",
  )}
>
  <div class="drawer drawer-end">
    <input id="header-mobile-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content">
      <nav class="navbar max-w-3xl mx-auto py-0">
        <div class="navbar-start">
          <a
            href="/"
            class="btn btn-ghost px-0 hover:bg-transparent h-auto min-h-0"
            aria-label="joelmturner logo"
          >
            <Image
              data-logo
              width="180"
              height="45"
              src={`https://res.cloudinary.com/joelmturner/image/upload/c_scale,w_360,f_auto,q_auto/v1673573341/jmt-logo-dark-500w_2_pxay5e.png`}
              alt="joelmturner logo"
              class="w-[150px] lg:w-[180px] h-[38px] lg:h-[45px] object-contain"
              loading="eager"
              decoding="sync"
              fetchpriority="high"
              style="aspect-ratio: 4/1;"
            />
          </a>
        </div>
        <div class="navbar-center hidden lg:flex">
          <ul class="menu menu-horizontal gap-2">
            {NAV_LINKS.map(link =>
                link.children ? (
                  <li>
                    <details>
                      <summary class="text-accent">{link.label}</summary>
                      <ul class="p-2 bg-base-100 w-44 z-10">
                        {link.children.map(child => (
                          <li><a class={cn("btn btn-ghost justify-start px-2 py-1 text-base-content border-l-none border-l-4", currentPath === child.href ? 'border-l-accent' : 'border-l-transparent')} href={`/${child.href}`}>{child.label}</a></li>
                        ))}
                      </ul>
                    </details>
                  </li>
                ) : (
                  <li><HeaderLink href={link.href} aria-current="page">{link.label}</HeaderLink></li>
                ),
              )}
          </ul>
        </div>
        <div class="navbar-end gap-1">
          <div class="hidden md:block">
            <ThemeSwitch />
          </div>
          <label
            for="header-mobile-drawer"
            aria-label="Open navigation menu"
            class="btn btn-square btn-ghost lg:hidden"
          >
            <Icon name="lucide:menu" class="inline-block text-accent h-6 w-6" aria-hidden="true" />
          </label>
        </div>
      </nav>
    </div>
    <div class="drawer-side z-20">
      <label for="header-mobile-drawer" aria-label="Close navigation menu" class="drawer-overlay"></label>
      <ul class="menu bg-base-200 min-h-full w-80 p-4 md:hidden">
        {NAV_LINKS.map(link =>
            link.children ? (
              <li>
                <details>
                  <summary class="btn btn-ghost btn-lg justify-start">{link.label}</summary>
                  <ul class="p-2">
                    {link.children.map(child => (
                      <li><a class={cn("btn btn-ghost btn-lg justify-start border-l-4", currentPath === child.href ? 'border-l-accent' : 'border-l-transparent')} href={`/${child.href}`}>{child.label}</a></li>
                    ))}
                  </ul>
                </details>
              </li>
            ) : (
              <li><a class={cn("btn btn-ghost btn-lg justify-start border-l-4", currentPath === link.href ? 'border-l-accent' : 'border-l-transparent')} href={`/${link.href}`}>{link.label}</a></li>
            ),
          )}
        <li class="mt-auto"><div class="w-auto mx-auto"><ThemeSwitch /></div></li>
      </ul>
    </div>
  </div>
</header>
