---
import { CldImage } from 'astro-cloudinary';
import { css, cx } from 'styled-system/css';
import { prose } from 'styled-system/recipes';
import FormattedDate from './FormattedDate.astro';
import { type CollectionEntry } from 'astro:content';
import { slugify } from '@lib/posts';

export type Props = {
  post: CollectionEntry<'blog'>;
  featured?: boolean;
};
const { post, featured } = Astro.props;

const featuredStyles = {
  w: 'full',
  mb: { base: 0, lg: 4 },
  textAlign: 'center',
  '& img': {
    w: 'full',
  },
};

const combinedStyles = css({
  w: { base: 'full', lg: 'calc(50% - 1rem)' },
  textAlign: { base: 'center', lg: 'left' },
  '& *': {
    textDecoration: 'none',
    transition: '0.2s ease',
  },
  '&:hover h4': {
    color: 'accent',
  },
  '&:hover img': {
    shadowColor: {
      _light: 'slate.100',
      _dark: 'slate.800',
    },
    shadow: '0 20px 25px -5px var(--shadow-color), 0 8px 10px -6px var(--shadow-color)',
  },
  ...(featured ? featuredStyles : {}),
});
---

<div class={combinedStyles}>
  <a href={`/blog/${post.data.slug || post.id}/`} class={prose({ size: '2xl' })}>
    {
      post.data.cover ? (
        <CldImage
          width={featured ? 770 : 370}
          height={featured ? 385 : 185}
          src={post.data.cover}
          alt={post.data.title}
          class={cx(
            'not-prose',
            css({
              mb: 1,
              borderRadius: 'xl',
            })
          )}
          crop="fill"
          gravity="center"
          sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, 770px`}
          loading="lazy"
          dpr="2.0"
        />
      ) : (
        <CldImage
          width={770}
          height={385}
          src="blog-post-card"
          alt={post.data.title}
          class={cx(
            'not-prose',
            css({
              mb: 1,
              borderRadius: 'xl',
            })
          )}
          overlays={[
            {
              width: 600,
              height: 300,
              crop: 'fit',
              position: {
                gravity: 'west',
                x: 450,
                y: 0,
              },
              text: {
                text: post.data.title,
                fontFamily: 'Helvetica',
                fontSize: 80,
                fontWeight: 'bold',
                lineSpacing: 10,
              },
            },
          ]}
          format="auto"
          quality="auto"
          dpr="2.0"
          loading="lazy"
        />
      )
    }
    <h4
      class={css({
        mt: 3,
        mb: 1,
        lineHeight: 1.1,
        fontSize: { base: '2xl', md: '3xl' },
      })}
    >
      {post.data.title}
    </h4>
    <p class={css({ m: 0 })}>
      <FormattedDate date={post.data.date} />
    </p>
  </a>
</div>
