---
import { CldImage } from 'astro-cloudinary';
import { type CollectionEntry } from 'astro:content';
import { cn } from '@lib/utils';

export type Props = {
  post: CollectionEntry<'blog'>;
  featured?: boolean;
};
const { post, featured } = Astro.props;

const combinedStyles = cn(
  // layout
  'w-full',
  // text alignment
  'text-center',
  'lg:text-left',
  // remove text decoration from all children
  '[&_*]:no-underline',
  // transitions
  'transition-color transition-shadow',
  'duration-200',
  // hover states
  'hover:[&_h4]:text-accent',
  'hover:[&_img]:shadow-lg',
  'hover:[&_img]:shadow-slate-100',
  'dark:hover:[&_img]:shadow-slate-800',
  featured ? 'col-span-1 md:col-span-2' : 'col-span-1'
);
---

<div class={combinedStyles}>
  <a href={`/blog/${post.data.slug || post.id}/`} class="prose dark:prose-invert text-2xl">
    {
      post.data.cover ? (
        <CldImage
          width={featured ? 770 : 370}
          height={featured ? 385 : 185}
          src={post.data.cover}
          alt={`blog post cover image for ${post.data.title}`}
          class="not-prose mb-1 rounded-xl"
          crop="fill"
          gravity="center"
          sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, 770px`}
          loading="lazy"
          dpr="2.0"
        />
      ) : (
        <CldImage
          width={770}
          height={385}
          src="blog-post-card"
          alt={`blog post cover image for ${post.data.title}`}
          class="not-prose mb-1 rounded-xl"
          overlays={[
            {
              width: 600,
              height: 300,
              crop: 'fit',
              position: {
                gravity: 'west',
                x: 450,
                y: 0,
              },
              text: {
                text: post.data.title,
                fontFamily: 'Helvetica',
                fontSize: 80,
                fontWeight: 'bold',
                lineSpacing: 10,
              },
            },
          ]}
          format="auto"
          quality="auto"
          dpr="2.0"
          loading="lazy"
        />
      )
    }
    <h3
      class={cn('mt-3 mb-1 text-2xl leading-1.1', featured ? 'text-3xl text-center' : 'text-2xl')}
    >
      {post.data.title}
    </h3>
  </a>
</div>
