---
import { css } from 'styled-system/css';
import { flex } from 'styled-system/patterns';
import type { Project } from '@lib/types';
import Image from './Image.astro';
import ProjectIcon from './ProjectIcon.astro';
import { Icon } from 'astro-icon/components';

type Props = {
  project: Project;
};
const {
  project: { description, name, imageURL, tech, github, url },
} = Astro.props;
---

<wa-card with-image with-footer class="card-overview">
  <a href={url} target="_blank" slot="image">
    <Image
      class={css({
        w: 'full',
        objectFit: 'cover',
        objectPosition: 'left center',
      })}
      src={imageURL}
      alt={name}
      height={250}
      width={370}
      widths={[240, 540, 720, 770]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, 770px`}
      loading="lazy"
    />
  </a>
  <div class={flex({ gap: 2, justifyContent: 'space-between' })}>
    <p><strong>{name}</strong></p>
    <a href={github} title="Github" target="_blank">
      <wa-icon family="brands" name="github"></wa-icon>
    </a>
  </div>
  <p>{description}</p>

  <div
    slot="footer"
    class={flex({
      gap: 2,
      alignItems: 'center',
      filter: 'grayscale(100%)',
      transition: 'filter 300ms',
      _hover: { filter: 'grayscale(0%)' },
    })}
  >
    {
      tech.map((techItem) => (
        <ProjectIcon icon={techItem.toLowerCase() as Project['tech'][number]} />
      ))
    }
  </div>
</wa-card>
