---
import { type CollectionEntry } from 'astro:content';
import ZineViewer from './ZineViewer.astro';
import Badge from './Badge.astro';
import { cn } from '@lib/utils';

export type Props = {
  zine: CollectionEntry<'zines'>;
  featured?: boolean;
};
const { zine, featured = false } = Astro.props;

const combinedStyles = cn(
  // layout
  'w-full',
  // text alignment
  'text-center',
  'lg:text-left',
  // remove text decoration from all children
  '[&_*]:no-underline',
  // transitions
  'transition-all',
  'duration-200',
  // hover states
  'hover:[&_h4]:text-accent',
  'hover:[&_img]:shadow-lg',
  'hover:[&_img]:shadow-slate-100',
  'dark:hover:[&_img]:shadow-slate-800',
  featured ? 'col-span-1 md:col-span-2' : 'col-span-1'
);

const imageUrlsInSetsOfTwo = zine?.data.imgUrls.reduce(
  (acc, imgUrl, index) => {
    if (index % 2 === 0) {
      acc.push([imgUrl, zine?.data.imgUrls[index + 1] || null]);
    }
    return acc;
  },
  [] as [string, string | null][]
);

const isGuestAuthor = zine.data.author !== 'Joel M Turner';
---

<div class={combinedStyles}>
  <ZineViewer height="300px" width="100%" variant="card">
    {imageUrlsInSetsOfTwo.map((imgUrl) => <div img-src={imgUrl[0]} back-img-src={imgUrl[1]} />)}
  </ZineViewer>
  <div class="flex gap-2 items-center justify-between">
    <a
      href={`/illustration/zines/${zine.data.slug || zine.id}/`}
      class="prose dark:prose-invert text-2xl"
    >
      <h4 class="my-0 line-height-1.1 text-2xl md:text-3xl">
        {zine.data.title}
      </h4>
    </a>

    {isGuestAuthor && <Badge>Guest: {zine.data.author}</Badge>}
  </div>
</div>
