---
import Image from '@components/Image.astro';
import BaseLayout from './BaseLayout.astro';

type Props = {
  frontmatter: { title: string; description?: string; heroImage?: string };
};

const {
  frontmatter: { title, description = '', heroImage },
} = Astro.props;
---

<BaseLayout title={title} description={description} image={heroImage}>
  <article>
    <div class="w-full not-prose">
      {
        heroImage && (
          <Image
            width={'1020'}
            height={'510'}
            src={heroImage}
            alt=""
            class="mx-auto rounded-lg shadow-lg"
          />
        )
      }
    </div>
    <div class="prose prose-xl dark:prose-invert m-auto">
      {
        title && (
          <div class="mb-3 py-2 text-center line-height-1">
            <h1>{title}</h1>
            <hr />
          </div>
        )
      }

      <slot />
    </div>
  </article>
</BaseLayout>
